[Unit]
Description=procServ for ca-gateway-TCS
After=network.target remote-fs.target
ConditionPathIsDirectory=/gem_base/epics/ioc/ca-gateway

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=:/gem_base/epics/ioc/ca-gateway/lib/linux-x86_64"
ExecStart=/bin/procServ --foreground --logfile - --name ca-gateway-tcs --ignore ^D^C^] --logoutcmd ^D --chdir /gem_base/epics/ioc/ca-gateway --info-file /run/procserv-ca-gateway-tcs/info --port 1237 --allow /gem_base/epics/ioc/ca-gateway/bin/linux-x86_64/gateway -pvlist /gem_conf/rt/cagateway/GATEWAY-TCS.pvlist -access /gem_conf/rt/cagateway/GATEWAY.access -log /var/log/ca-gateway/tcsgateway.log -prefix tcssgate -archive -no_cache -debug 0 -cip "172.17.2.36" -report /var/log/ca-gateway/tcsgateway.txt
RuntimeDirectory=procserv-ca-gateway-TCS
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=procserv-ca-gateway-TCS

User=root
Group=root

[Install]
WantedBy=multi-user.target
