[Unit]
Description=procServ for ca-gateway
After=network.target remote-fs.target
ConditionPathIsDirectory=/gem_base/epics/ioc/ca-gateway

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=:/gem_base/epics/ioc/ca-gateway/lib/linux-x86_64"
ExecStart=/bin/procServ --foreground --logfile - --name ca-gateway --ignore ^D^C^] --logoutcmd ^D --chdir /gem_base/epics/ioc/ca-gateway --info-file /run/procserv-ca-gateway/info --port 1235 --allow /gem_base/epics/ioc/ca-gateway/bin/linux-x86_64/gateway -pvlist /gem_conf/rt/cagateway/GATEWAY.pvlist -access /gem_conf/rt/cagateway/GATEWAY.access -log /var/log/ca-gateway/gengateway.log -prefix gengate -archive -no_cache -debug 2 -cip "10.2.2.101 10.2.2.100 10.2.2.103 10.2.2.108 10.2.2.105 10.2.2.49 10.2.2.104" -sip 0.0.0.0 -report /var/log/ca-gateway/gengateway.txt
##### The IP addresses for your -cip argument need to match the systems (mcv, crv, tcv, etc.) in your GATEWAY.pvlist file

RuntimeDirectory=procserv-ca-gateway
StandardOutput=syslog
StandardError=inherit
SyslogIdentifier=procserv-cagateway

User=root
Group=root

[Install]
WantedBy=multi-user.target
